文档:
{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>实例重置</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% with form = Forms.config.ResetInstanceForm() %}
				<form method="POST" id="reset-ctf-form">
					<div class="alert alert-danger" role="alert">
						<p>
							重置CTFd实例可以让您批量删除数据，为其他活动、课程或清理状态做准备。
						</p>

						<p>
							重置操作将<strong>永久删除</strong>所选数据。
						</p>

						<p>
							请谨慎操作，系统不会自动备份，所有选定数据都将丢失。
						</p>

						<span>
							<strong>
								请务必通过 <a href="{{ url_for('admin.config', _anchor='backup') }}">创建CTFd导出文件</a> 备份所需数据
							</strong>
						</span>
					</div>

					<hr>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.accounts(class="form-check-input", autocomplete="off") }}
							{{ form.accounts.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有用户和团队账户及其关联信息<br>
							<small>(用户、团队、提交记录、跟踪数据)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.submissions(class="form-check-input", autocomplete="off") }}
							{{ form.submissions.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有得分记录和操作记录<br>
							<small>(提交内容、奖励记录、解锁记录、跟踪数据)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.challenges(class="form-check-input", autocomplete="off") }}
							{{ form.challenges.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有题目及其关联数据<br>
							<small>(题目、flag、提示、标签、题目文件)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.pages(class="form-check-input", autocomplete="off") }}
							{{ form.pages.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有页面及其关联文件<br>
							<small>(页面、页面文件)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.notifications(class="form-check-input", autocomplete="off") }}
							{{ form.notifications.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有通知<br>
							<small>(通知消息)</small>
						</span>
					</div>

					<br>

					{{ form.nonce() }}

					{{ form.submit(class="btn btn-warning btn-lg btn-block", value="确认重置") }}
				</form>
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
	{{ Assets.js("assets/js/pages/reset.js", theme="admin") }}
{% endblock %}