{% with form = Forms.teams.TeamCreateForm() %}
{% from "admin/macros/forms.html" import render_extra_fields %}
<form id="team-info-create-form" method="POST">
	<div class="form-group">
		<label for="name">团队名称</label>
		{{ form.name(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
		<label for="email">电子邮箱</label>
		{{ form.email(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
		<label for="password">密码</label>
		{{ form.password(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
		<label for="website">官方网站</label>
		<small class="float-right text-muted align-text-bottom">选填</small>
		{{ form.website(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
		<label for="affiliation">所属单位</label>
		<small class="float-right text-muted align-text-bottom">选填</small>
		{{ form.affiliation(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
		<label for="country">国家/地区</label>
		<small class="float-right text-muted align-text-bottom">选填</small>
		{{ form.country(class="form-control custom-select", autocomplete="off") }}
	</div>

	{{ render_extra_fields(form.extra) }}

	<div class="form-group">
		<div class="form-check form-check-inline">
			{{ form.hidden(class="form-check-input", autocomplete="off") }}
			<label class="form-check-label" for="{{ form.hidden.id }}">隐藏团队</label>
		</div>
		<div class="form-check form-check-inline">
			{{ form.banned(class="form-check-input", autocomplete="off") }}
			<label class="form-check-label" for="{{ form.banned.id }}">封禁团队</label>
		</div>
	</div>
	<div id="results">

	</div>
	<button type="submit" class="btn btn-primary btn-outlined float-right modal-action" id="update-team">提交</button>
</form>
{% endwith %}