<div role="tabpanel" class="tab-pane config-section" id="mlc">
	<form method="POST" autocomplete="off" class="w-100">
		<div style="display:flex; justify-content:space-between;">
			<h6>
				MajorLeagueCyber 集成
			</h6>
			<span data-toggle="tooltip" data-placement="top" title="MLC 是一个CTF数据统计跟踪平台，提供赛事安排、团队跟踪和SSO功能。" aria-hidden="true">
				<i class="fas fa-question-circle"></i>
			</span>
		</div>
		<small>
			首先，请在 <a href="https://www.majorleaguecyber.org/">MajorLeagueCyber</a> 注册您的事件以获取 OAuth 客户端 ID 和客户端密钥。需要更多帮助？请查看 <a href="https://docs.ctfd.io/docs/settings/mlc" target="_blank">文档</a>。
		</small>
		<br>
		<div class="form-group">
			<label>
				客户端 ID
			</label>
			<input class="form-control" id='oauth_client_id' name='oauth_client_id' type='text' placeholder=""
				{% if oauth_client_id is defined and oauth_client_id != None %}value="{{ oauth_client_id }}"{% endif %}>
		</div>

		<div class="form-group">
			<label>
				客户端密钥
			</label>
			<input class="form-control" id='oauth_client_secret' name='oauth_client_secret' type='text' placeholder=""
				{% if oauth_client_secret is defined and oauth_client_secret != None %}value="{{ oauth_client_secret }}"{% endif %}>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">更新</button>
	</form>
</div>