<div role="tabpanel" class="tab-pane config-section" id="visibility">
	{% 
		with form = Forms.config.VisibilitySettingsForm(
			challenge_visibility=challenge_visibility, 
			account_visibility=account_visibility, 
			score_visibility=score_visibility, 
			registration_visibility=registration_visibility
		) 
	%}
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label>题目可见性</label>
			{{ form.challenge_visibility(class="form-control custom-select") }}
			<small class="form-text text-muted">
				控制用户何时可以查看题目内容
			</small>
		</div>

		<div class="form-group">
			<label>账户可见性</label>
			{{ form.account_visibility(class="form-control custom-select") }}
			<small class="form-text text-muted">
				控制用户资料的可见范围
			</small>
		</div>

		<div class="form-group">
			<label>分数可见性</label>
			{{ form.score_visibility(class="form-control custom-select") }}
			<small class="form-text text-muted">
				控制用户得分的可见范围
			</small>
			<small class="form-text text-muted py-2">
				分数可见性是账户可见性的子集。
				这意味着当账户对用户可见时，分数可见性设置将控制该用户能否查看具体分数。
				若账户不可见，分数可见性设置将自动失效。
			</small>
		</div>

		<div class="form-group">
			<label>注册可见性</label>
			{{ form.registration_visibility(class="form-control custom-select") }}
			<small class="form-text text-muted">
				控制用户注册功能的开放状态
			</small>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">更新设置</button>
	</form>
	{% endwith %}
</div>